%link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
.container
  = search_form_for @q, url: root_path do |f|
    .field.has-addons
      .control.has-icons-left.is-expanded
        = f.search_field :title_or_action_text_rich_text_body_cont, class: "input", placeholder: "Suche"
        %span.icon.is-left
          %i.fa.fa-search
      .control
        %a.button.is-light.gridbutton{:href => "/"}
          = fa_icon "th-large"
%br
- @recipe.each_slice(1) do |recipes|
  .columns
    - recipes.each do |recipe|
      .column
        .card
          .card-image
            %figure.image
              %a{:href => "/#{recipe.id}"}
                = image_tag recipe.main_image.variant(resize_to_limit: [550, 550]) if recipe.main_image.attached?
          .card-content
            %a{:href => "/#{recipe.id}"}
              %p.title.is-5= recipe.title

.flickr_pagination= will_paginate @recipe, previous_label: "«", next_label: "»"
