- @day.each_slice(2) do |mittag, abend| 
  .box
    .title.is-4= mittag.name[/(.*)\s/,1]
    %article.media
      .media-left
        %figure.image.is-64x64
          %img= image_tag "sun.png"
      .media-content
        - if mittag.recipe_id.present?
          .title.is-5= Recipe.find_by(id: mittag.recipe_id).title if Recipe.find_by(id: mittag.recipe_id).present?
        - else
          .title.is-5 Nicht geplant
        %nav.level.is-mobile
          .level-left
            %a.level-item.button.is-small.is-light{:href => "/day/#{mittag.id}/edit"}
              = fa_icon "pencil-square-o"
            - if mittag.recipe_id.present?
              %a.level-item.button.is-small.is-light{:href => "/#{mittag.recipe_id}/"}
                = fa_icon "cutlery", text: "⠀Zum Rezept"
    %article.media
      .media-left
        %figure.image.is-64x64
          %img= image_tag "cloudy-night.png"
      .media-content
        - if abend.recipe_id.present?
          .title.is-5= Recipe.find_by(id: abend.recipe_id).title if Recipe.find_by(id: abend.recipe_id).present?
        - else
          .title.is-5 Nicht geplant
        %nav.level.is-mobile
          .level-left
            %a.level-item.button.is-small.is-light{:href => "/day/#{abend.id}/edit"}
              = fa_icon "pencil-square-o"
            - if abend.recipe_id.present?
              %a.level-item.button.is-small.is-light{:href => "/#{abend.recipe_id}/"}
                = fa_icon "cutlery", text: "⠀Zum Rezept"