= form_with model: @recipe, url: url do |form|
  %div.field
    %label.label Titel
    = form.text_field :title, :placeholder => "Rezeptname", class: "input"

  %div.field
    %label.label Beschreibung
    = form.rich_text_area :description, :placeholder => "Was gehört zum Rezept?", class: "form-control"

  %div.field
    %div.btn-file.button.is-light.alignleft
      ⇡ Bild hochladen..
      = form.file_field :main_image

  - if @recipe.id.present?
    %div.field
      .button.is-danger.alignright= link_to "✗ Löschen", recipe_delete_path(@recipe), method: :delete, style: "color:#FFFFFF", data: { confirm: "Willst du '#{@recipe.title}' wirklich löschen?" }

  %div.control
    %br
    %input.button.is-link.is-fullwidth{:type => "submit", :value => "Speichern"}