%div
  - flash.each do |key, value|
    = content_tag :div, value, class: "notification is-success #{key}"
    %br

.title.is-4 Rezepte verwalten
%table.table.is-fullwidth
  %thead
    %tr
  %tbody
  - @recipe.each do |recipe|
    %tr
      %td
        %a{:href => "/#{recipe.id}/edit"}
          %p= "âœ " + recipe.title
        %td= link_to "X", recipe_delete_path(recipe), method: :delete, class: "delete", data: { confirm: 'Bist du sicher?' }