%section.hero
  .card 
    .card-image
      %figure.image
        %img= image_tag @recipe.main_image.variant(resize_to_limit: [700, 550]) if @recipe.main_image.attached?
  %br
  .container
    - if user_signed_in?
      %a.button.is-small.is-light.alignright{:href => "/#{@recipe.id}/edit"}
        = fa_icon "pencil"
    %h2.title.is-4= @recipe.title
    %p= @recipe.description