%nav.navbar.is-white
  .navbar-brand
    = link_to "PAprika PAtrol", root_path, class: "mobile-header", id: "title logo"
    .navbar-burger.burger{"data-target" => "navbarExampleTransparentExample"}
      %span
      %span
      %span
  #navbarExampleTransparentExample.navbar-menu
    .navbar-start
    .navbar-end
      .navbar-item.has-dropdown.is-hoverable
        .navbar-link Menü
        .navbar-dropdown.is-boxed
          = link_to '<i class="fa fa-home"></i>⠀Home'.html_safe, root_path, class: "navbar-item"
          = link_to '<i class="fa fa-book"></i>⠀Alle Rezepte'.html_safe, recipe_index_path, class: "navbar-item"
          = link_to '<i class="fa fa-calendar-alt"></i>⠀Wochenplan'.html_safe, day_index_path, class: "navbar-item"
          - if !user_signed_in?
            = link_to '<i class="fas fa-sign-in-alt"></i>⠀Login'.html_safe, new_user_session_path, class: "navbar-item"
          - if user_signed_in?
            = link_to '<i class="far fa-chart-bar"></i>⠀Tracking'.html_safe, tracking_index_path, class: "navbar-item"
            = link_to '<i class="fa fa-plus"></i>⠀ Neues Rezept'.html_safe, recipe_new_path, class: "navbar-item"
          - if current_page?(day_index_path)
            = link_to '<i class="fas fa-undo"></i>⠀Plan zurücksetzen'.html_safe, day_reset_path, method: :post, class: "navbar-item", data: { confirm: "Den Wochenplan wirklich zurücksetzen?" }
          - if !@q.blank?
            = search_form_for @q, url: root_path do |f|
              .control.navbar-item
                = f.search_field :title_or_action_text_rich_text_body_cont, class: "input", placeholder: "🔍 Suche"